*{
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box ;
}
.row > *{
    padding: 0px !important;
}
.navbar{
    background-color: #CCC;
}
.navbar .navbar-brand{
    font-size: larger;
    font-weight: 500;
    color: #5b4444 !important;
}
/* .navbar .fa-user{
    color: red;
} */
.navbar .fa-right-from-bracket{
    color: #c34242 ;
}
.navbar .fa-right-from-bracket:hover{
    color: red ;
}
.menu{
    background-color: #1c4246;
    padding: 10px 5px 5px !important;
}
.menu .main-category{
    font-size: 11px;
}

.menu ul{
    line-height: 40px;
    list-style-type: none;
}
.menu ul li{
    line-height: 40px;
    list-style-type: none;
}

.menu ul li:hover, .menu ul .row li a:hover{
    color: #DDD;
}
.menu ul li.active, .menu ul .row li a.active{
    color: #868b89;
}
.menu ul .row li a{
    text-decoration: none;
    color: #fff7f7;
    font-size: 17px;
    font-weight: 400;
}
.menu ul .row .category-dropdown-icon:hover{
    cursor: pointer;
    color: #DDD;
}
.menu ul .row .category{
    display: none;
}

.data{
    padding: 10px !important;
    background-color: #FFF;
}
.data h1{
    color: #393030;
    font-size: 47px;
    font-weight: 600;
}
.data .statistics{
    margin-top: 20px;
    padding: 10px !important;
}
.data .statistics .row{
    justify-content: space-between;
}
.data .statistics .row > div{
    padding: 5px !important ;
    margin-bottom: 2px;
    border-left: 3px solid red;
    border-radius: 5px;
    text-align: center;
    background-color: #ffffff7a;
    box-shadow: 2px 1px 5px #ddd;
}
.data .statistics .row > div > p > a{
    cursor: pointer;
    text-decoration: none;
}
/* rgba(var(--bs-primary-rgb),var(--bs-text-opacity))!important */